/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;

.ods-bg {
    background-color: #598C3F !important;
}

.text-ods {
    color: #598C3F !important;
}

.ring-ods {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color: rgba(89, 140, 63, var(--tw-ring-opacity)) !important;
}